@import "../../../../common/style/variables";

.covid-19 {
  text-align: center;
  min-height: 100vh;
  position: relative;
  margin-top: -$navbarHeight;
  padding-top: $navbarHeight;

  > .bg {
    @media screen and (max-width: $small) {
      background-image: url(../../../../assets/jpg/cat-sleeping.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      height: 400px;
    }
  }

  > h2 {
    margin: 1rem 0 0;
    color: #716e6e;
  }

  small {
    padding: 0 0 0.3rem 0;
    display: block;
  }
  h4 {
    margin: 0.3rem;
  }

  .table {
    max-width: 480px;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
  }
  .col {
    padding: 0.3rem 0;
    font-weight: bold;
    border: 1px solid #fff;
    > p {
      margin: 0;
    }
  }
  .confirm {
    background: rgb(254, 239, 238);
    h2 {
      color: rgb(204, 30, 30);
    }
  }
  .heal {
    background: rgb(233, 251, 238);
    h2 {
      color: rgb(24, 139, 81);
    }
  }
  .dead {
    background: rgb(246, 246, 246);
    h2 {
      color: rgb(78, 90, 101);
    }
  }
}
